header:is(body > *) {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  align-items: center;
  background: #000;
  padding-inline: max(2rem, (100% - 1200px) / 2);
  padding-block: clamp(1rem, 5vw, 2rem);
  color: #fff;

  & p {
    max-width: 50ch;
    text-wrap: balance;
  }
}

.content {
  flex: 1 1 300px;
  display: grid;
  gap: 1rem;
}

h1 {
  font-size: clamp(2rem, 2.1vw + 1.5rem, 2.8rem);
  font-weight: 900;
  line-height: 1.1;
  hyphens: auto;
  text-transform: uppercase;
}

.text-gradient {
  background: linear-gradient(
    90deg,
    oklch(0.65 0.3 29.57),
    oklch(0.28 0.12 31.22)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
